body{
  padding:0;  
}
.atg{
 color: #27A365 !important;
 font-size: 25px;
}
.world{
    font-size: 25px;

}
.container-fluid{
    display:flex;
}
.search{
    position: absolute;
    width: 360px;
    height: 42px;
    left: 540px;
    top: 16px;
    display: flex;
    
    background: #F2F2F2;
    border-radius: 21px;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    width:340px;
  }
.homeimage{

width: 100%;;
height: 500px;
padding:12px 24px;
overflow:none;
 background:linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%),url(image/home.png);
}

.homeimage h1{
color:white;
position: absolute;

height: 47px;

top: 250px;

font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;
}
.homeimage h6{

width:400px;
font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
margin-top: 350px;


color: #FFFFFF;
}
#join{
display:block;
}
#join-res{
  display:none;
}

.create{
  color:black;
 text-align: end;
 margin-left:850px;
 font-weight:bold;
 font-family: sans-serif;
}

.activity{
    padding-left: 8%;
    padding-right: 8%;
    padding-top:10px;
}
.activity-header{
    display:flex;
    
    height:30px;
    background-color: #27A365;
  border-bottom: 1px solid #e0e0e0;
  
}
.activity-header a{
    color:black;
    font-style: none;

}
.posts{
  padding-top:12px;
  align-items: vertical;

}
.one-post{

width: auto;
height: 430px;

margin-top:3%;
margin-left: 3%;
margin-bottom: 3%;
margin-right: 3%;
top: 628px;

border: 1px solid #E0E0E0;
border-radius: 4px;
}
.img-article{
  margin:3%;
}
.post-image{
  width:100%;
  height:auto;
}
.post-about{
  height:40px;
  background-color: #fff;
}
.post-about .col-md-4{
  align-content: end;
  text-align: end;
}
.post-about p{
  font-size:15px;
  color:#a1a0a0;
  margin-left:5%;
}
.post-profile{
  display:flex;
  margin: 3%;
 
}
.post-profile p{
  margin-left:auto;
}

.date{
  display: flex;
}
.visit{
  width:100%;
  height:30px;
  border:1px solid rgb(168, 163, 163);
  border-radius: 10px;
text-align: center;
justify-content: space-around;
}
.visit a{
    color:red;
    font-size:15px;
}
 .icon{
  width:auto;
  height:20px;
}
.rightside{
  display:flex;
  border-bottom: 1px solid #b8b5b5;
  margin-top:20px;
}
.rightside2{
  display:flex;
  margin-top:20px;
}





footer{
  background-color: #333;
  color:#fff;
  padding:30px 0 20px 0;

}
footer li{
  float:left;
  padding:0 10px 0 10px;
  list-style:none;
}
footer a{
  color:#fff;
}

footer p{
  float:right;
}
.modal-backdrop {display: none;}

@media  (max-width:500px){
  .activity{
    padding-left: 0;
    padding-right:0;
    padding-top:0;

}
.create-account{
  display:none;
}
.posts{
  padding-top: 0;
}
#join{
  display:none;
}
#join-res{
  display:block;
  width:150px;
  height:50px;
  background-color:transparent;
  border:1px solid #fff;
  color:white;
  border-radius:5px;
  font-size: 20px;

margin-left:100px;
  margin-top: 60px;
}
.one-post{
 
  margin: 0;
  margin-top:2%;
  
}

.homeimage h6{

  width:400px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-top: 250px;
  
  
  color: #FFFFFF;
  }
}